<a href="https://colab.research.google.com/github/rebeccajohnson88/ar_mentalhealthproj/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#import relevant packages 
import tweepy
import pandas as pd
import nltk 
nltk.download('stopwords')
from nltk.stem.porter import *

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [252]:
import gensim
from gensim import corpora

In [60]:
nltk.download('punkt')
from nltk.tokenize import wordpunct_tokenize, word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [84]:
stopwords_list = stopwords.words('english') 
porter = PorterStemmer()

In [1]:
%pip install tweepy -U

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Collecting tweepy
  Downloading tweepy-4.6.0-py2.py3-none-any.whl (69 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 69 kB 1.8 MB/s
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (3.2.0)
Collecting requests<3,>=2.27.0
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 63 kB 986 kB/s
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (1.24.3)
Installing collected packages: requests, tweepy
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: tweepy
    Found existing installation: tweepy 3.10.0
    Uninstalling tweepy-3.10.0:
      Successfully uninstalled tweepy-3.10.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed requests-2.27.1 tweepy-4.6.0

In [6]:
#initialize client 
client = tweepy.Client(bearer_token = 'AAAAAAAAAAAAAAAAAAAAAJe%2BZgEAAAAAYrT%2BKy9PiNrkWJ3KyKE6HIRrZBM%3DfMh2oybMX46FfAGMAoqdm6tkTAaLvRPBWsbvS6l4lPIJ9Up6qr')

In [7]:
q = "(#BTS) lang:en"

tweet_resp = client.search_recent_tweets(query = q,
                                         max_results = 10, 
                                         tweet_fields = ['text','in_reply_to_user_id'],
                                         user_fields = ['name', 'description'],
                                         expansions = ['author_id'])

In [8]:
[tweet['description'].replace('\n','') for tweet in tweet_resp.includes['users']]

['',
 'üíúüíúüíú',
 "Hi,I'm Min JMoon Yoongi's Wife üíç‚ú® lembrete: d√™ views em No More Dream diariamente #NMDTo1Billion üìäüíå convite: #1bheartstoyoongi üíúby Sica_Galactica",
 'Female. Fan. Writer. Cook. Independent. Queer, bi, she/her, 30+ (ARMY // Harling) // pfp by @bebe_sope // header by bts // –°–ª–∞–≤–∞ –£–∫—Ä–∞—ó–Ω—ñ // #LeniKiko2022',
 'Armyüíúüíú',
 'BTSÊäïÁ•®Âû¢  ÏßÄÎØº ÏÇ¨ÎûÄÌó§Ïöîüê•„Ç∏„Éü„É≥„Å°„ÇÉ„Çì„Éö„É≥„Åß„Ç∏„Éü„É≥„Å°„ÇÉ„Çì„ÇíÂøúÊè¥„Åß„Åç„Åü„ÇâÂ¨â„Åó„ÅÑ„Åß„Åô„ÄÇ„Åø„Çì„Å™„ÅÆÊÄù„ÅÑ„Åå„Ç∏„Éü„É≥„Å°„ÇÉ„Çì„Å∏Â±ä„Åë„ÄúüòäRT„ÅåÂ§ö„Åè„Å™„Çä„Åæ„Åô„ÄÇ',
 'I‚ÄôM A LO$ER!! | ü•äü•ä',
 '',
 '#JIMIN #ÏßÄÎØº #„Ç∏„Éü„É≥ stan | My angel deserve all the goodness and love in the world Íí∞‡¶å‚ô°‡ªíÍí±',
 '']

In [9]:
[user['name'] for user in tweet_resp.includes['users']]

['·¥ºÀ¢·µÄ¬πZEHA ‚Åµ.‚Å∂·¥π',
 'ùë¥ùíÇùíçùíñ ‚òÜ',
 'Sica_Galactica | MinMarch üç∞ #soumiau üê±',
 'pj‚Å∑üíú#ARMYforLENI',
 'Dayana',
 "j'm;",
 'winterbear',
 'maria gabriela‚Å∑ üíú',
 'mari¬π¬≥(slow)',
 'Rosana']

In [10]:
tweet_resp.includes['users']

[<User id=1428994001575813123 name=·¥ºÀ¢·µÄ¬πZEHA ‚Åµ.‚Å∂·¥π username=koophoria1997>,
 <User id=1198790992381526016 name=ùë¥ùíÇùíçùíñ ‚òÜ username=mariludpaulo>,
 <User id=1395332822206984193 name=Sica_Galactica | MinMarch üç∞ #soumiau üê± username=minjmoon_twt>,
 <User id=110335011 name=pj‚Å∑üíú#ARMYforLENI username=ninemoons42>,
 <User id=1391909427738030084 name=Dayana username=Dayana76049999>,
 <User id=1458359704179339266 name=j'm; username=Victori48460799>,
 <User id=1278117553504739328 name=winterbear username=JoyceAshraf9>,
 <User id=868457723553296384 name=maria gabriela‚Å∑ üíú username=M15_Gabriela>,
 <User id=1340429880358420480 name=mari¬π¬≥(slow) username=jmn_angel13>,
 <User id=878981114 name=Rosana username=lf_rosana>]

In [11]:
tweet_resp.data

[<Tweet id=1501309818992214022 text='@JKTrendSongs @BTS_twt I‚Äôm listening to #StayAlive by #JUNGKOOK and produced by #SUGA from #BTS @BTS_twt ,'>,
 <Tweet id=1501309818010685445 text='RT @BTSNewsBrasil: üé• Making of do BTS para Coway\n\n+\n\n@BTS_twt #BTS'>,
 <Tweet id=1501309817448808449 text='RT @officialcharts: A bit early UK time, but in KST it‚Äôs SUGA‚Äôs birthday üéÇ\n\nHappy birthday SUGA üíú The BTS (@BTS_twt @bts_bighit) star turns‚Ä¶'>,
 <Tweet id=1501309814986575873 text='RT @mintynkks: #BTS: we love yoongi the Most\n\na thread on how each member shows their love for their yoongi #HappyBirthdayYoongi  https://t‚Ä¶'>,
 <Tweet id=1501309814642774018 text="RT @_Alejandraa2: @chartdata @BTS_twt ‚ÄúAin't no other that can sweep you up like a robber\nStraight up, I (got ya)\nMaking you fall like that‚Ä¶">,
 <Tweet id=1501309814613315585 text='RT @km5811081013: I vote #JIMIN for #TOP100MostHandsomeFace JIMIN #BTS\n\n https://t.co/hDgxWjwInT'>,
 <Tweet id=1501309810922471429 text='RT @OnyxMewlion: üêàHAPPY BIRTHDAY SUGA BIRTHDAY BUNDLEüêà\n\nContains\nüçäMOTS: 7 Ver 1\nüçäBTS The Best Ltd Ed A \nüçäDalmajung Binder Night Ver\nüçäDalmaj‚Ä¶'>,
 <Tweet id=1501309810117021698 text='RT @tokopedia: Happy Birthday SUGA! üíöüíú \n\nWe hope 2022 brings you joy, good health and all the happiness in your life and career!\n\nAyo Toppe‚Ä¶'>,
 <Tweet id=1501309809764618247 text="RT @POPSUGAR: Pixar has based characters on boy-band members in the past, so could Tae Young from #TurningRed be inspired by #BTS's #JIMIN?‚Ä¶">,
 <Tweet id=1501309809324343303 text='@97SARCHIVES @BTS_twt I vote #BTSJUNGKOOK for #TOP100MostHandsomeFace JUNGKOOK  #BTS #JUNGKOOK @BTS_twtüíúüíúüíú https://t.co/xhJJp3zInM'>]

In [12]:
# Build DataFrame using a tweet's keys as the columns 
tweet_df = pd.DataFrame(tweet_resp.data)

# Print head of DataFrame
tweet_df.head()

,author_id,id,in_reply_to_user_id,text
0,1428994001575813123,1501309818992214022,1.499434e+18,@JKTrendSongs @BTS_twt I‚Äôm listening to #StayA...
1,1198790992381526016,1501309818010685445,NaN,RT @BTSNewsBrasil: üé• Making of do BTS para Cow...
2,1395332822206984193,1501309817448808449,NaN,"RT @officialcharts: A bit early UK time, but i..."
3,110335011,1501309814986575873,NaN,RT @mintynkks: #BTS: we love yoongi the Most\n...
4,1391909427738030084,1501309814642774018,NaN,RT @_Alejandraa2: @chartdata @BTS_twt ‚ÄúAin't n...

In [90]:
#User dataframe 
user_df = pd.DataFrame(tweet_resp.includes['users'])
user_df['author_id'] = user_df['id']

#Print head 
user_df.head()

,description,id,name,username,author_id
0,,1428994001575813123,·¥ºÀ¢·µÄ¬πZEHA ‚Åµ.‚Å∂·¥π,koophoria1997,1428994001575813123
1,üíúüíúüíú,1198790992381526016,ùë¥ùíÇùíçùíñ ‚òÜ,mariludpaulo,1198790992381526016
2,"Hi,I'm Min JMoon Yoongi's Wife üíç\n‚ú® lembrete: ...",1395332822206984193,Sica_Galactica | MinMarch üç∞ #soumiau üê±,minjmoon_twt,1395332822206984193
3,"Female. Fan. Writer. Cook. Independent. Queer,...",110335011,pj‚Å∑üíú#ARMYforLENI,ninemoons42,110335011
4,Armyüíúüíú,1391909427738030084,Dayana,Dayana76049999,1391909427738030084

In [91]:
BTS_tweets = tweet_df.merge(user_df, on='author_id')

In [136]:
BTS_tweets['text'] = BTS_tweets['text'].str.replace('\n','')
BTS_tweets['description'] = BTS_tweets['description'].str.replace('\n', '')

In [143]:
BTS_tweets['description'] = BTS_tweets['description'].str.replace('.', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [235]:
corpus_lower = BTS_tweets['description'].str.lower().to_list()

In [291]:
def cleaning_function(string): 
  string_nostops = [word for word in wordpunct_tokenize(string) if word not in stopwords_list]
  string_cleaned = [porter.stem(token) for token in string_nostops if token.isalpha() and len(token) > 1]
  return str(string_cleaned)

In [293]:
type([cleaning_function(desc) for desc in corpus_lower])

list

In [294]:
corpora.Dictionary([cleaning_function(desc) for desc in corpus_lower])

TypeError: ignored